html, body {
  	overflow: hidden
    margin:0px;
    padding:0px;
    background:black;
}
.vp-verticle{
	-moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate3d(0,0,0);
  	-moz-transform: translate3d(0,0,0);
  	-ms-transform: translate3d(0,0,0);
  	-o-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
  	margin:0px;
  	padding:0px;
  	background-size:100%;
  	overflow:hidden;
  	background:url('../images/siitebg-v.jpg');
}
.vp-horizontal{
	-moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate3d(0,0,0);
  	-moz-transform: translate3d(0,0,0);
  	-ms-transform: translate3d(0,0,0);
  	-o-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
  	margin:0px;
  	padding:0px;
  	background-size:100%;
  	overflow:hidden;
  	background:url('../images/siitebg-h.jpg');
}
.vp-web{
	-moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate3d(0,0,0);
  	-moz-transform: translate3d(0,0,0);
  	-ms-transform: translate3d(0,0,0);
  	-o-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
  	margin:0px;
  	padding:0px;
  	background-size:100%;
  	overflow:hidden;
  	background:url('../images/siitebg-v.jpg');
}
